<header class="header">
    <div class="logo">
        <h1>Happy Holiday</h1>
    </div>
    <nav>
        <ul>
            <li><a href="{% url 'home' %}" class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}">Home</a></li>
            <li><a href="{% url 'location' %}" class="{% if request.resolver_match.url_name == 'location' %}active{% endif %}">Location</a></li>
            <li><a href="{% url 'suppliers' %}" class="{% if request.resolver_match.url_name == 'suppliers' %}active{% endif %}">Services</a></li>
            <li><a href="{% url 'about_us' %}" class="{% if request.resolver_match.url_name == 'about_us' %}active{% endif %}">About Us</a></li>
        </ul>
    </nav>
    <div class="auth-buttons">
        {% if user.is_authenticated %}
            <!-- Показать иконки с текстом под ними -->
            <div class="menu-item">
                <a href="{% url 'profile' %}" class="{% if request.resolver_match.url_name == 'profile' %}active-profile{% endif %}">
                    <i class="fa fa-user-circle prof-icon"></i>
                    <p>{{ user.username }}</p>
                </a>
            </div>
            <div class="menu-item">
                <a href="{% url 'cart' %}" class="{% if request.resolver_match.url_name == 'cart' %}active-cart{% endif %}">
                    <i class="fa fa-shopping-cart"></i>
                    <p>&nbsp;&nbsp;Cart
                        {% if cart_num %}
                            <span class="cart-num visible">{{ cart_num }}</span>
                        {% else %}
                            <span class="cart-num"></span>  <!-- Скрыто, если корзина пуста -->
                        {% endif %}
                    </p>
                </a>
            </div>                                              
            <div class="menu-item">
                <a href="{% url 'orders' %}" class="{% if request.resolver_match.url_name == 'orders' %}active-orders{% endif %}">
                    <i class="fa fa-list"></i>
                    <p>Orders</p>
                </a>
            </div>
            <!-- Кнопка Log Out -->
            <a href="{% url 'logout' %}" class="logout-btn">Log Out</a>
        {% else %}
            <!-- Кнопки для неавторизованных пользователей -->
            <a href="{% url 'signin' %}" class="login-btn">Sign in</a>
            <a href="{% url 'signup' %}" class="signup-btn">Sign up</a>
        {% endif %}
    </div>    
    <script>
        // Получаем элемент ссылки корзины
        var cartLink = document.querySelector('.menu-item a[href="{% url "cart" %}"]');
        
        if (cartLink) {
            cartLink.addEventListener('click', function() {
                // Скрыть значок с количеством, когда пользователь кликает на корзину
                var cartNum = document.querySelector('.cart-num'); // Ищем элемент с классом cart-num
                if (cartNum) {
                    cartNum.style.display = 'none'; // Прячем кружок
                }
            });
        }
    </script>    
</header>
